body{
    background-color: #f5f5f5;
    margin: 0px;
    padding: 0px;
}

a{ /* Estilos para los enlaces */
    text-decoration: none;
    color: #000;
}

/*
    Estilos para el encabezado
*/
header{
    background-color: #57fdc6;
    margin: 0px;
    height: 2%;
    display: flex;
    gap: 20px;
    }

.logo{
    padding: 5px 0px 5px 20px;
    width: 90px;
    display:block;
    align-items: left;
   
}
.logo-nombre{
    padding: 25px 0px 5px 0px;
    width: 100px;
    display:block;
    align-items: left;
}
.user-icon{
    margin-left: auto;   
    display: flex;
    align-items: center;
    gap: 20px;
}
    

.user-icon img{
    margin-left: auto;
    width: 40px;
    height: 45px;    
    padding: 10px 20px ;
    display: flex;
    align-items: center;
}
.nav-links {
    list-style: none;
    margin-left: auto;        
    display: flex;
    flex-direction: row;      
    align-items: center;     
}

.presentacion{
    text-align: center;
    margin-top: 50px;
}
.presentacion img{
    width: 300px;
    height: auto;
    margin-top: 20px;
}

.nav-links:hover{
    color: #fff;
    background-color: #57fdc6;
    border-radius: 5px;
    padding: 5px 10px;
}

footer{
    background-color: #57fdc6;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}